body{
    font-family: 'DM Sans', sans-serif;
}
.wrapper{
    max-width: 1440px;
    width:100%;
    margin: 0 auto;
}
.center{
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
}
.first-container{
    height: 100vh;
   /* max-height: 982px;*/
    max-height: 850px;
    background-image: url("../images/home.png");
    background-repeat: no-repeat;
}
header{
    padding-top: 32px;
}
header .logo{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
}
header .menu{
    float: right;
}
header .menu li{
    display: inline-block;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}
header .menu li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
header .menu li:last-child a{
    font-size: 17px;
    line-height: 22px;
    padding: 14px 40px;
    background-color: #FFAC12;
    border-radius: 0 18px 0 0;
    color: #000;
}
header .menu li:last-child a img{
    margin-left: 9px;
}
.first-container h1{
    padding-top: 118px;
    color: white;
    font-weight: bold;
    font-size: 80px;
    width: 519px;
    letter-spacing: -2px;
}
.first-container .description{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    width: 428px;
    padding-top: 22px;
    opacity: 0.6;
    color: white;
}
.white_box{
    height: 100px;
    margin-top: -100px;
    background-color: white;
}
.white_box a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-top: 37px;
    margin-left: 40px;
    font-weight: bold;
}
.team__work{
    padding-top: calc(150px - 66px);
    display: flex;
}
.team__work-left{
    width: 50%;
}
.team__work-left img, .team__work-right__foto img{
    max-width: calc(100% - 14px);
    height: 657px;
    object-fit: cover;
    border-radius: 0 57px 0 0;
    filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
    position: relative;
    top: 66px;
}
.team__work-right{
    width: 50%;

}
.team__work .sub__container{
    margin-left: 46px;
    margin-right: 186px;
}
.team__work .sub__container h2, .team__work2 .sub__container h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -1.26px;
  
}
.team__work .sub__container .descr, .team__work2 .sub__container .descr{
    width: 428px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: calc(30px + 24px);
}

.team__work-right hr, .team__work-left__text hr{
    width: 169px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
    border: 0;
    margin-top: calc(263px - 150px + 66px);
    margin-right: auto;
    margin-left: 0;
}
.learn__more{
    text-decoration: none;
    color: white;
    padding: 24px 40px;
    background-color: black;
    border-radius: 0px 18px 0px 0px;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.42;
    display: inline-block;
}
.add__orange{
    background: #FFAC12;
    color:#000001;
}
 .learn__more img{
    margin-left: 19px;
}
.section__filter{
    height: 1874px;
    background-color: #f5f5f5;
    padding-top: 216px;
}
.section__filter-choice hr{
    width: 169px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
    border: 0;
    display: inline-block;
    text-align: left;

}
.section__filter-choice h2{
    padding-top: 17px;
    font-size: 50px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: -1.26px;
    padding-bottom: 60px;
}
.section__filter-dates{
    display: flex;
    background: #FFFFFF;
    
}

.section__filter-dates div{
    width: 25%;
    background: linear-gradient(#F5F5F5, #E4E4E4);
}
.section__filter-dates a{
    width: 89%;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.43px;
    text-decoration: none;
    color: black;
    padding-top: 49px;
    padding-bottom: 49px;
    padding-left: 30px;
    border-left: solid 1px;
    border-left-color: #E4E4E4;
    background-color: white;
    
}
.section__filter-dates div:first-child a{
   border-left: none;
    border-radius: 25px 0 0 25px;
}
.section__filter-dates div:last-child a{
    border-radius: 0 25px 25px 0;

}
.section__filter-dates a img{
    padding-left: 9px;
}
.section__filter-example{
    display: flex;
    margin-top: 76px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section__filter-example img{
    height: 266px;
    width: 336px;
    border-radius: 25px 25px 0px 0px;
}
.section__filter-example-foto{
    background-color: white;
    height: 418px;
    width: 336px;
    border-radius: 25px 25px 0 0;
    margin-bottom: 30px;
      
}
.section__filter-example-foto:not(first-child)   {
    background: linear-gradient(#F5F5F5, #E4E4E4);
}
.section__filter-example-foto:first-child{
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 32px 34px rgb(0 0 0 / 13%);
}
.section__filter-example-foto h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    letter-spacing: -0.6px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: white;
}
.section__filter-example-foto .des{
    display:flex;
    background-color: white;
    border-radius: 0 0 25px 25px;
    
}
.section__filter-example-foto .des .foot{
    width: 33%;
    border-top: solid 1px ;
    border-color:#E4E4E4;
    height: 60px;
    border-left: solid 1px #E4E4E4 ;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.43px;
    
}
.section__filter-example-foto .des .foot:first-child{
    border-left: none;
}
.section__filter-example-foto .des img{
    width: 16px;
    height: 16px;
    padding-right: 10px;
    padding-left: 39px;
    padding-top: 23.5px;
}

.section__filter-example-foto .des :first-child img{
    width: 14px;
    height: 10.66px;
}

.team__work2{
    display: flex;
    
}
.team__work2 .sub__container{
    margin-left: 110px;
    margin-top: 121px;
    margin-right: 77px;
}
.team__work-left__text{
    width: 50%;
}
.team__work-left__text hr{
    margin-top: 0;
}
.team__work-right__foto{
    width: 50%;
}
.team__work-right__foto img{
    border-radius: 57px 0 0 0; 
    max-width: calc(100% + 77px);
    background: linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%);
    height: 657px;
    object-fit: cover;
    position: relative;
    top: -162px;

}

.hands{
    padding-top: 150px;
    height: 674px;
    text-align: center;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);

}
.hands hr{
    width: 169px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
    border: 0;
}
.hands h2{
    padding-top: 17px;
    font-size: 50px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: -1.26px;
    color: white;
    

}
.hands .description{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    width: 428px;
    padding-top: 20px;
    opacity: 0.6;
    color: white;
    display: inline-block;
    padding-bottom: 30px;
}

.hands .learn{
    padding-top: 30px;
} 
.hands .learn a{
    padding: 25px 40px 23px 40px;
    background-color: #FFAC12;
    text-decoration: none;
    border-radius: 0px 18px 0px 0px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.42;
    text-align: left;

}
.hands .learn a img{
    padding-left: 19px;
}
.feedback{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 31px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.feedback__discription .hover__item hr{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
    border: 0;
    margin-bottom: 40px;
}
.feedback__discription .hover__item p{   
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    letter-spacing: -0.6px;
    margin-bottom: 60px;
}
.feedback__discription:first-child .hover__item, .feedback__discription:last-child .hover__item{
    opacity: 0;
}
.feedback__discription:first-child :hover, .feedback__discription:last-child :hover{
    opacity: 1;
}
.feedback__discription .feedback__name img{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-top: 46px;
}
.feedback__discription .feedback__name{
    height: 141px;
    background-color: black;
    display: flex;   
    padding-left: 40px;
     
}
.feedback__discription:first-child .feedback__name, .feedback__discription:last-child .feedback__name{
    background-color: white;
}

.feedback__discription .feedback__name .name{
    padding-top: 46px;
    padding-left: 20px; 
}

.feedback__discription:first-child:hover .feedback__name, .feedback__discription:last-child:hover .feedback__name{
    background-color: black;
}
.feedback__discription:first-child:hover .feedback__name .Lara, .feedback__discription:last-child:hover .feedback__name .Lara{
    color: white;
}
.feedback__discription .feedback__name .name .Lara{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.38px;
    color: rgba(255, 255, 255, 1);
}
.feedback__discription:first-child .name .Lara, .feedback__discription:last-child .name .Lara{
    color: black;
}
.feedback__name .client{
    color: rgba(151, 151, 151, 1);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.38px;
}


footer{
    background: black
}
.footer__wrap{
    display: grid;
   /* color: white*/
    font-size: 40px;
    grid-template-columns: repeat(4,1fr);
}
.footer__wrap-item:first-child{
    grid-column: 1/span 2;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    
}
.footer__wrap-item:nth-child(2){
    grid-column: 3/span 2;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.footer__wrap-item:first-child h2{
    font-size: 42px;
    color: white;
    font-weight: bold;
    line-height: 55px;
    letter-spacing: -1.06px;
    padding-top: 88px;
    padding-bottom: 57px;

}
.footer__wrap-item:first-child h2 span{
    color:#FFAC12;
    display: inline-block;
    margin-left: 14px;

}
.footer__wrap-item:nth-child(2){
    text-align: right;

}
.footer__wrap .add__orange{
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 50px;
}
footer a.logo{
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 30px;
}
.footer__wrap-item .social__links a:nth-child(2){
    margin-left: 35px;
    margin-right: 35px;
}
.footer__wrap-item ul{
    margin-top: 60px;
}
.footer__wrap-item ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer__wrap-item ul li p{
    color:white;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.38px;
}
.footer__wrap-item ul li a{
    text-decoration: none;
    color:rgba(151, 151, 151, 1);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.38px;
}
.footer__wrap-item:nth-child(4), .footer__wrap-item:nth-child(5), .footer__wrap-item:nth-child(6) {
    margin-bottom: 150px;
    justify-self: end;
}

/*Section*/
.house__info{
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);  
}
.house__info hr{
    margin: 0;
    height: 1px;
    width: 100%;
    opacity: 0.1;
    background: white;
    margin-top: 32px;
    margin-bottom: 21px;
}
.wrap__title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 22px;
}
.wrap__title-left h1, .wrap__title-right .price{ 
    font-size: 32px;
    color: white;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: -0.8px;
}
.wrap__title-left p, .wrap__title-right .price__ft{   
    font-size: 15px;
    color: white;
    line-height: 24px;
    letter-spacing: -0.38px;
    opacity: 0.6;

}
.wrap__title-right{
    text-align: right;
}
.house__slider{
    background: #f2f2f2;
}
.house__gallery{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 23px;
}
.house__gallery-left .active-slide{
    max-width: 100%;
    border-radius: 0 57px 0 0;
    margin-top: 60px;
    
    height: 520px;
    object-fit: cover;
}
.house__gallery-right{
    background: white;
    border-radius: 25px;
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0,13);
    margin-top: 60px;
}
.house__gallery-right input, .house__gallery-right textarea{ /* не понимаю зачем эти свойства*/
    width: 100%;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    margin: 5px 0;
}
.house__gallery-right input, .house__gallery-right textarea{
    margin: 0;
    padding: 20px 0 20px 20px;
    color: black; 
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.38px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
    
}
.house__gallery-right textarea{
    font-family: 'DM Sans', sans-serif;
    resize: none;
    height: 15px;
    padding-bottom: 60px;
}
.house__gallery-right .send__data{ 
    display: block;
    text-align: center;
}

.house__gallery-right textarea:focus, .house__gallery-right input:focus{
    outline: none;
}
.house__gallery-right input::placeholder{
    color: black; 
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.38px;
    
}
.house__gallery-right input::-webkit-input-placeholder { color: #000000;}
.house__gallery-right input::-moz-placeholder          { color: #000000;}/* Firefox 19+ */
.house__gallery-right input:-moz-placeholder           { color: #000000;}/* Firefox 18- */
.house__gallery-right input:-ms-input-placeholder      { color: #000000;}



.house__gallery-right .feedback2{
    padding: 0 20px;
}
.feedback__center{
    display: grid;
    grid-template-columns: 67px 1fr;
    width: calc(100% - 40px);
    background-color: #f5f5f5;
    margin: 20px;
    border-radius: 10px;

}
.feedback__center img{
    width: 40px;
    height: 40px;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 17px;
    margin-right: 10px;
}
.feedback-center-name{
    margin-top: 16px;   
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.38px;
    margin-bottom: 2px;

}
.feedback__center-view{
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: -0.33px;
    color: #FFAC12;


}
.slider__items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap:24px;
    margin-top: 20px;
}
.slider__items div img{
    max-width: 100%;
    object-fit: cover;
    border-top-right-radius: 16px;
}
.details__section{
    background-color: #f2f2f2;
    padding-top: 40px;
   
}
.details__section .details{ 
   
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 23px;
}
.details__section .details h2{   
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -0.5px;
    padding: 30px;
    background-color: white;
    border-radius: 25px 25px 0 0 ;


}
.details__section .details .details-title{
   
    background: linear-gradient(#F5F5F5, #E4E4E4);
}
.details__section .details .details-title .details-icon{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e4e4e4;
    background-color: white;
    border-radius: 0 0 25px 25px;
}
.details__section .details .details-title .details-icon div{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border-right: 1px solid #e4e4e4;
}
.details__section .details .details-title .details-icon div:last-child{
    border-right: none;
}
.details__section .details .details-title .details-icon span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
}



/*Media */
@media screen and (max-width: 1200px){
    .center{
        width: 90%;
    }
    .team__work .sub__container{
        margin-right: 10%;
    }
    .team__work .sub__container .descr{
        width: 100%;
    }
    .section__filter-example{
        justify-content: space-around;
    }
    .team__work2 .sub__container .descr{
        width: auto;
    }
    .footer__wrap-item:first-child h2 span{
        margin-left: 0;
    }
   
}
@media screen and (max-width: 1024px){
    header .menu{
        display: none;
    }
    .hands h2{
        font-size: 45px;
    }
    .team__work{
        flex-wrap: wrap;
        padding-top: 0;
    }
    .team__work-left{
        width: 100%;
        
    }
    .team__work-right{
        width: 100%;
    }
    .team__work-left img{
        width: 95%;
        filter: drop-shadow(0px 30px 27px rgba(0, 0, 0, 0.3));
        height: auto;
    }
    .team__work .sub__container .learn__more{
        display: inline-block;
        margin-bottom: 30px;
    }
    .team__work .sub__container{
        margin-left: 5%;
    }
    .section__filter {
        height: auto;
        padding-top: 70px;
    }
    .section__filter-choice hr{
        margin-left: 6%;
    }
    .section__filter-choice h2{
        padding-left: 6%;
    }
    .section__filter-dates{
        flex-direction: column;
        background-color: #f5f5f5;
        align-items: center;
    }
    .section__filter-dates div{
        background-color: white;
        font-size: 25px;
        border-bottom: solid 1px #E4E4E4;
        width: 90%;
    }
    .section__filter-dates a{
        width: 96%;
    }
    .section__filter-dates div:first-child a{
        border-radius:25px 25px 0 0 ;
    }
    .section__filter-dates div:last-child a{
        border-radius: 0 0 25px 25px;
    }
    .section__filter-example-foto{
        width: 100%;
        height: 100%;
    }
    .section__filter-example img{
        width: 100%;
        height: auto;
    }
    .section__filter-example-foto .des .foot{
        font-size: 22px;
    }
    .section__filter-example-foto .des img{
        width: 18px;
        height: 18px;
    }
    .section__filter-example-foto h3{
        font-size: 30px;
    }
    .feedback{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .team__work2{
        flex-wrap: wrap;
    }
    .team__work-left__text{
        width: 100%;
    }
    .team__work-right__foto{
        width: 100%;
    }
    .team__work2 .sub__container{
        margin-bottom: 9%;
        margin-left: 5%;
        margin-top: 60px;
    }
    .team__work-right__foto img{
        width: 95%;
        height: auto;
        top:0%;
        margin-bottom: 5%;
        filter: drop-shadow(0px 30px 27px rgba(0, 0, 0, 0.3));
    }
    .house__gallery-right{
        display: none;
    }
    .house__gallery{
        grid-template-columns: 1fr;
    }
    .house__gallery-left .active-slide{
        height: auto;
    }
    .details__section .details{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px){
    .first-container{
        background-position: center;
    }
    .first-container h1, .first-container .description{
        width: 100%;
    }
    .section__filter-choice h2{
        font-size: 44px;
    }
    .footer__wrap{
        grid-template-columns: repeat(3,1fr);

    }
    .footer__wrap-item:first-child, .footer__wrap-item:nth-child(2), .footer__wrap-item:nth-child(3){
        grid-column: 1/ span 3;
        border-bottom: none;
    }
    .footer__wrap-item:nth-child(2){
        text-align: left;
        
    }
    .footer__wrap-item:first-child h2{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .footer__wrap .add__orange{
        margin-bottom: 30px;
        margin-top: 0;
    }
    .footer__wrap-item:nth-child(4), .footer__wrap-item:nth-child(5), .footer__wrap-item:nth-child(6){
        justify-self: start;
        margin-bottom: 50px;
    }
    .feedback{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        
    }
    .feedback__discription .hover__item hr{
        margin-bottom: 20px;
    }
    .feedback__discription .hover__item p{
        margin-bottom: 50px;
    }
    .feedback__discription:last-child .hover__item, .feedback__discription:first-child .hover__item{
        opacity: 1;
    }
    .feedback__discription:first-child .feedback__name, .feedback__discription:last-child .feedback__name{
        background-color: black;
    }
    .feedback__discription:first-child .name .Lara, .feedback__discription:last-child .name .Lara {
        color: white;
    }
    .feedback__discription .feedback__name img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
    .feedback__discription .feedback__name{
        height: 100px;
    }
   
    .feedback__discription .feedback__name .name .Lara{
        font-size: 20px;
    }
    .feedback__name .client{
        font-size: 20px;
        line-height: 40px;
    }
    .feedback__discription .feedback__name .name{
        padding-top: 20px;
    }

    
}
@media screen and (max-width: 600px){
    .first-container h1{
        font-size: 60px;
    }
    .hands{
        padding: 125px 30px 100px 30px;
    }
    .hands h2{
        font-size: 42px ;
    }
    .hands .description{
        width: auto;
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .team__work-right hr{
        margin-top: 125px;
    }
    .team__work .sub__container h2, .team__work2 .sub__container h2{
        font-size: 32px;
        line-height: 40px;

    }
    .section__filter-choice h2{
        font-size: 32px;
        padding-bottom: 30px;  
    }
    .section__filter-example{
        margin-top: 50px;
    }
    .footer__wrap{
        grid-template-columns: 1fr 1fr;
    }
    .footer__wrap-item:first-child, .footer__wrap-item:nth-child(2), .footer__wrap-item:nth-child(3){
        grid-column: 1 / span 2;
    }

    .footer__wrap-item:nth-child(6){
        grid-column: 1 /span 2;
    }
    .section__filter-choice h2{
        font-size: 32px;
        line-height: 42px;
    }
    .footer__wrap .add__orange{
        margin-top: 15px;
    }
    
    .footer__wrap-item:nth-child(6) ul{
        margin-top: 0;
    }
    .slider__items{
        display: none;
    }
    .details__section .details .details-title .details-icon span{
        margin-left: 2px;

}
@media screen and (max-width: 425px){
    .first-container h1{
    font-size:48px;  
    }  
    .hands{
        padding: 70px 50px 100px 50px;
    }
    .wrap__title-left h1, .wrap__title-right .price{
        font-size: 28px;
        line-height: 36px;
    }
}

@media screen and (max-width: 375px){
    .first-container h1{
        padding-top: 60px;
    }
    .white_box{
        height: 50px;
        margin-top: -50px;
    }
    .white_box a{
        padding-top: 10px;
        margin-left: 20px;
    }
    .hands {
        height: auto;
    }
    .details__section .details .details-title .details-icon{
        justify-content: center;
        flex-wrap: wrap;
    }
    .details__section .details .details-title .details-icon div{
        width: 33%;

    }
    .details__section .details .details-title .details-icon div:nth-child(3){
        border-right: 0;
        border-bottom: 1px solid #e4e4e4;
        
    }.details__section .details .details-title .details-icon div:nth-child(2), .details__section .details .details-title .details-icon div:first-child{
    border-bottom: 1px solid #e4e4e4;
    }
}